#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main-input {
  margin: 10px;
}

#text-box {
  border: 3px solid #ab68d3;
  border-radius: 20px;
  height: 30px;
  width: 50%;
  font-size: 20px;
  padding-left: 10px;
  outline: none;
}

#text-box:focus {
  outline-width: 0;
}
